<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card white z-depth-3">
      <div class="card-content">
        <span class="card-title pink-text">Education</span>
        <div class="education">
          {% for school in site.education %}
            <li class="divider"></li>
            <br>

            <p class="school">{{ school.name }}</p>

            <div class="row school-details">
              <div class="col s8 m6">
                <p>{{ school.degree }}</p>
              </div>

              <div class="col s4 m6">
                <p class="right-align">{{ school.date }}</p>
              </div>

              <div class="col s12 m10">
                <div class="chip">{{ school.additional }}</div>
              </div>
            </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>