<footer>
  <div class="center-align footer">
    <a href="https://github.com/{{ site.github }}"><img class="icon-link responsive-img" src="images/github.png"/></a>
    <a href="https://ca.linkedin.com/in/{{ site.linkedin }}"><img class="icon-link responsive-img" src="images/linkedin.png"/></a>
    <a href="mailto:{{ site.email }}"><img class="icon-link responsive-img" src="images/email.png"/></a>
    <a href="#"><img class="icon-link responsive-img" src="images/download.png"/></a>
  </div>  
</footer>
